<div ng-controller="IndexController as vm" layout-fill layout="column">

  <md-toolbar layout-sm="column" layout="row" class="navigation-bar" flex="none" style="background-color:  #272727;">

      <div layout-padding layout-align="center center" layout="column">
        <h4 class="ii-title">Insight Imaging</h4>
      </div>

      <span flex="5"></span>

      <div layout-padding layout-align="center center" layout="column">
       <!-- <select flex ng-model="vm.searchMode">
         <optgroup>
           <option selected="selected" value="surveyRequester">
             User
           </option>
           <option value="surveyIdentifier">
             Survey Identifier
           </option>
         </optgroup>

       </select> -->
       <md-input-container layout-align="center center" layout="column" class="search-mode">
        <label>Search Mode</label>
        <md-select ng-model="vm.searchMode">
          <md-option selected="selected" value="surveyRequester">
            Survey Requester
          </md-option>
          <md-option value="surveyIdentifier">
            Survey Identifier
          </md-option>
        </md-select>
      </md-input-container>
     </div >

     <div layout-padding layout-align="center center" layout="column">
       <input placeholder="Search for surveys..." class="ii-search" flex ng-model="vm.searchCriteria" ng-change="vm.searchDrones(vm.searchMode, vm.searchCriteria)">
     </div>

      <span flex></span>

      <div layout-padding layout-align="center center" layout="column">
        <md-button layout-align="end center" class="md-primary" ng-if="vm.userAuth" ng-click="vm.deauthenticate()">
          Log out ({{vm.userAuth.password.email}})
        </md-button>
      </div>

  </md-toolbar>

  <main id="map" flex="auto"></main>

</div>
