<div ng-controller="IndexController as vmIndex" layout-fill layout="column">

  <md-toolbar class="navigation-bar" flex="none" style="background-color:  #272727;">
    <div class="md-toolbar-tools" style="width: 100%">
      <h1 layout-align="start center">Insight Imaging</h1>
      <span flex></span>
      <md-button layout-align="end center" class="md-primary" ng-if="vmIndex.userAuth" ng-click="vmIndex.deauthenticate()">
        Log out ({{vmIndex.userAuth.password.email}})
      </md-button>
    </div>
  </md-toolbar>

  <main id="map" flex="auto"></main>

</div>
