<div class="ii-survey-dialog" layout-padding flex="100">
    <h1> Survey Details </h1>
    <md-input-container class="md-block" flex-gt-xs >
        <label>Survey Requester</label>
        <input  disabled type="text" name="survey-date" value="{{vm.surveyRequester}}">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs>
        <label> Survey Request Date </label>
        <input disabled type="text" name="survey-date" value="{{ vm.dateRequested | date : 'dd/MM/yy - hh:mm:ss' }}">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs>
        <label> Survey Identifier</label>
        <input ng-model="vm.surveyIdentifier" ng-change="vm.onChange()" flex="100" type="text" name="survey-name">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs>
        <label> Survey Description </label>
        <textarea class="description" ng-model="vm.surveyDescription" ng-change="vm.onChange()" class="description" ng-model="vm.surveyDescription" ng-change="vm.onChange()" type="text" ></textarea>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs ng-if="vm.surveyImageryUrl">
        <h4> Survey Image </h4>
        <a ng-href="{{vm.surveyImageryUrl}}">
          <img ng-src="{{vm.surveyImageryUrl}}" style="height: 380px; ">
        </a>
    </md-input-container>

    <div layout-padding >
      <md-divider></md-divider>
      <md-button ng-click="vm.closeDialog()" layout-padding  layout-align="center center">
        Save Survey
      </md-button>
    </div>
</div>
