<md-dialog class="ii-survey-dialog" layout-padding flex="45" flex-xs="80">

    <md-dialog-content layout-padding layout="column" >
      <h1 layout-padding> Survey Details </h1>
      <md-input-container  flex-gt-xs >
          <label class="ii-labels">Survey Requester (Required)</label>
          <input class="ii-inputs" type="text" ng-model="vm.surveyRequester" value="{{vm.surveyRequester}}" required="true">
      </md-input-container>

      <md-input-container  flex-gt-xs>
          <label class="ii-labels"> Survey Request Date </label>
          <input class="ii-inputs" disabled type="text" value="{{ vm.dateRequested | date : 'dd/MM/yy - hh:mm:ss' }}">
      </md-input-container>

      <md-input-container  flex-gt-xs>
          <label class="ii-labels"> Survey Identifier (Required)</label>
          <input class="ii-inputs" ng-model="vm.surveyIdentifier" flex="100" type="text" required="true">
      </md-input-container>

      <md-input-container flex-gt-xs>
          <label class="ii-labels"> Survey Description </label>
          <textarea class="ii-inputs" class="description" ng-model="vm.surveyDescription" type="text" ></textarea>
      </md-input-container>


      <div flex="100">
          <md-input-container flex="40" layout-fill>
           <label class="ii-labels">Survey Data Format</label>
           <md-select ng-model="vm.surveyDataFormat" ng-disabled="vm.surveyProgress == 'completed' && vm.surveyDataFormat">
             <md-option value="tif">
               TIF
             </md-option>
             <md-option value="png">
               PNG
             </md-option>
           </md-select>
         </md-input-container>

          <md-input-container flex="40" layout-fill>
           <label class="ii-labels">Status</label>
           <md-select ng-model="vm.surveyProgress" ng-change="vm.surveyProgressChange()">
             <md-option value="backlog">
               Setting Up - Not Ordered
             </md-option>
             <md-option value="ordered">
               Ordered
             </md-option>
             <md-option value="completed">
               Data Received
             </md-option>
           </md-select>
         </md-input-container>
      </div>

     <md-input-containerflex-gt-xs ng-if="vm.surveyImageryUrl && vm.surveyProgress == 'completed'">
       <h4> Survey Image </h4>
       <a ng-href="{{vm.surveyImageryUrl}}">
         <img flex="100" ng-src="{{vm.surveyImageryUrl}}" >
       </a>
     </md-input-container>

      <md-input-container  flex-gt-xs ng-if="vm.surveyProgress == 'completed'">
        <label class="ii-labels"> Survey URL </label>
        <input class="ii-inputs" ng-model="vm.surveyImageryUrl" flex="100" type="text">
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout-padding layout="row">
      <md-button ng-click="vm.closeDialog()" layout-padding ng-disabled="!vm.surveyRequester && !vm.surveyIdentifier">
        Save
      </md-button>
      <md-button ng-click="vm.closeDialog()" layout-padding  >
        Cancel
      </md-button>
    </md-dialog-actions>

</md-dialog>
